In [1]:
from bokeh.plotting import figure,output_file,show
import pandas

# df = pandas.DataFrame(columns=["X","Y"])
# df["X"]=[1,2,3,4,5]
# df["Y"]=[5,6,4,5,3]
# p=figure(title="Temperature Observations", x_axis_label="Day of Observations",y_axis_label="Temperature")
# p.circle(df["X"],df["Y"])
# output_file("scatter_charts.html")
# show(p)

In [2]:
df = pandas.read_excel("data.xlsx")

In [3]:
df

       Year  Month  Day  Hour  Temperature  Pressure
0      2010     10    6     3          -30      9984
1      2010     10    6     9          -28      9992
2      2010     10    6    10          -24      9987
3      2010     10    6    11          -19      9987
4      2010     10    6    12          -19      9985
...     ...    ...  ...   ...          ...       ...
33097  2014     12   30     9         -116      9896
33098  2014     12   30    12         -103      9866
33099  2014     12   30    15          -97      9826
33100  2014     12   30    18          -93      9829
33101  2014     12   30    21          -86      9804

[33102 rows x 6 columns]

In [4]:
df.columns

Index(['Year', 'Month', 'Day', 'Hour', 'Temperature', 'Pressure'], dtype='object')

In [5]:
X=df['Temperature']/10

Y=df['Pressure']/10

In [6]:
p=figure(plot_width=500,plot_height=400,tools='pan')

In [7]:
p.circle(x=X,y=Y)
p.title.text='Temperature and Air Pressure'
p.title.text_color='gray'
p.title.text_font='arial'
show(p)